[Desktop Entry]
Encoding=UTF-8
Name=BeastBucks (testnet)
Comment=Desktop allet for Beastbucks Cryptocurrency (testnet)
Comment[de]=Offizieller Client für die Kryptowährung Beastbucks (testnet)
Exec=beastbucks-qt -testnet %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/peercoin-testnet128.png
MimeType=x-scheme-handler/beastbucks;
Categories=Application;Network;
